@Html.AntiForgeryToken()
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class=row>
                    <div class="col-sm-6">
                            <div class="input-group mb-1">
                                <input class="form-control" name="fIMPORT" type="file" id="formFile" onchange="SelectedFileChanged()">
                            </div>
                        </div>
                         <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" onclick="location.href = '/LuckyDraw/ExportCustomerWinDrawTemplate'">Tải mẫu import</button>
                    <button id="btnImport" type="button" class="btn btn-primary" onclick="Import()">Import</button>
                    <button type="button" class="btn btn-primary" onclick="Load('import-body-content')">Load dữ liệu</button>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách</h4>
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-hover table-bordered">
                        <thead class="table-light">
                            <tr role="row">
                                <th style="width: 20px;">
                                    STT
                                </th>

                                <th>
                                    Lucky Code
                                </th>
                                <th>
                                    Họ và tên
                                </th>
                                <th>
                                    KQ Lần 1
                                </th>
                                <th>
                                    Ghi chú lần 1
                                </th>
                                <th>
                                    KQ Lần 2
                                </th>
                                <th>
                                    Ghi chú lần 2
                                </th>
                                <th>
                                    KQ Lần 3
                                </th>
                                <th>
                                    Ghi chú lần 3
                                </th>
                                <th>
                                    KQ Lần 4
                                </th>
                                <th>
                                    Ghi chú lần 4
                                </th>
                                <th>
                                    KQ Lần 5
                                </th>
                                <th>
                                    Ghi chú lần 5
                                </th>
                                <th style="width: 100px;">
                                    #
                                </th>
                            </tr>
                        </thead>
                        <tbody id="data-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    if ('@ViewBag.Message') alert('@ViewBag.Message')
</script>