.btn-toolbar {
    display: none !important;
}

.bg-header {
    background-color: #d4dbf9;
}

.accordion-button {
    padding: 0.5rem 1.25rem !important;
}

.btn-toolbar {
    display: none !important;
}

.navbar-header {
    height: 45px !important;
}

.vertical-menu {
    top: 45px !important;
}