@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background: #212529; height: 500px;">
    <center style="color: #ffff;padding-top: 90px"><span><b style="color: #ffff;">Thời gian tham gia chương trình hiện đã kết thúc (24h ngày 14/06/2022).</b></span></center>
    <center><span><b style="color: #ffff;">Chi tiết liên hệ Hotline 1900 633842 - Thời gian làm việc 08h00-17h30, thứ Hai đến Chủ Nhật.</b></span></center>
</div>
