<div class="text-center responsive col-12" style="background-image: url(/images/background.jpg); background-size: 100% auto;">
    <a href="/dangkythamgia"><img class="btn-img-main btn-img-main-mb" src="~/images/btn_dky_tgia.jpg" alt=""/></a>
    <a href="/nhapotp"><img class="btn-img-main btn-img-main-mb" src="~/images/btn_hs_nt.jpg" alt=""/></a>
   <img src="~/images/background.jpg" style="visibility:hidden;" class="responsive" alt=""/>
</div>