@model JoinReward.Models.AppRegisterDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center><h1>Gửi thông tin thành công</h1></center>
<center><span>Cảm ơn Quý Khách hàng đã tham gia chương trình, Panasonic đã nhận được đăng ký của Quý khách.</span></center>
<center><span>Nếu các thông tin là đầy đủ và chính xác, chúng tôi sẽ gửi tin nhắn kích hoạt bảo hành tới số điện thoại mà Quý khách hàng đã đăng ký trong vòng 05 ngày làm việc.</span></center>
<center><button class="btn btn-primary"><a style="color: #ffff !important;" href="/dangkythamgia">Gửi đăng ký khác</a></button></center>