@model JoinReward.Models.AppRegisterDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center><h1>Gửi thông tin thành công</h1></center>
<center style="height: 400px;"><span>Panasonic đã nhận được thông tin đăng ký nhận thưởng của Quý khách hàng và sẽ thông báo kết quả xác minh trong vòng 05 ngày làm việc. Chi tiết vui lòng liên hệ hotline 1900633842</span></center>