@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nhập hồ sơ cho khách hàng";
}
<div class="row" style="margin-top: 10px;">
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"><b>SĐT khách hàng</b></span>
            <input class="form-control" type="text" id="PhoneNumber"/>
        </div>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-block btn-facebook" onclick="submitForm()" style="width:100px;">Nhập hồ sơ</button>
    </div>
</div>
<script>
        function submitForm() {
        var PhoneNumber = $('#PhoneNumber').val();

        var url = "/Business/CheckFileCustomer?PhoneNumber=" + PhoneNumber;
            _ajax(url, '', function (response) {
                if (response.success === 'Y') {
                    //window.location.href = "/nhaphoso?PhoneNumber=" + PhoneNumber + "&otp=0";
                    window.open("/nhaphoso?PhoneNumber=" + PhoneNumber + "&otp=0","_blank");
                }
                else {
                    alert(response.message);
                     
                }
            });
         }
</script>